form{
    text-align: center;
}

p{
    text-align: center;
}

h1{
    text-align: center;
    padding: 50px 0;
}

fieldset{
    display: inline-block;
}

a{
    color: ivory;
}

a:hover{
    color:rgb(216, 143, 255);
}

/*Image from Space Backgrounds Free Pixel Art Pack
link: https://norma-2d.itch.io/space-backgrounds-pack*/
html{
    background-image: url(1-Purple_640x360.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: ivory;
}