form{
    text-align: center;
}

p{
    text-align: center;
}

h1{
    text-align: center;
    padding: 50px 0;
}

fieldset{
    display: inline-block;
}

a{
    color: ivory;
}

#submitButton{
    border-radius: 4px;
    background-color: rgb(88, 55, 0);
    color: ivory;
    text-align: center;
    padding: 10px 24px;
    border: 2px solid rgb(88, 55, 0);
}

#submitButton:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

/*Image from Space Backgrounds Free Pixel Art Pack
link: https://norma-2d.itch.io/space-backgrounds-pack*/
html{
    background-image: url(1-Yellow_640x360.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: ivory;
}