@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Override default variables before the import

$theme_colors: (
  "blue": $blue-500,
  "gray": $gray-500,
  "green": $green-500,
  "purple": $purple-500,
  "red": $red-500,
  "yellow": $orange-500
);


@each $c, $b in $theme_colors {
  [data-bs-theme=#{$c}] {
    .btn-primary {
      --bs-btn-bg: #{$b};
      --bs-btn-hover-bg: #{darken($b, 20%)};
      --bs-btn-color: white;
      --bs-btn-hover-color: white;
    }
  }

}


$enable-rounded : false;
$color-mode-type: media-query;

@include color-mode(dark) {
  .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
  }
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';