@import '~bootstrap/scss/functions';

// Override default variables before the import

$link-color-dark: white;
$body-color-dark: white;
$body-bg-dark: #111;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";


$theme_colors: (
  "blue": $blue-500,
  "gray": $gray-500,
  "green": $green-500,
  "purple": $purple-500,
  "red": $red-500,
  "yellow": $orange-500
);


@each $c, $b in $theme_colors {
  [data-bs-theme=#{$c}] {
    .btn-primary {
      --bs-btn-bg: #{$b};
      --bs-btn-hover-bg: #{darken($b, 20%)};
      --bs-btn-color: white;
      --bs-btn-hover-color: white;
    }
  }

}


$enable-rounded : false;
$color-mode-type: media-query;

@include color-mode(dark);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';