.planet{
        
    & h1 {
        text-align: center;
        padding: 20px 0;
    }

    & table, th, td{
        border: 1px solid white;
        border-collapse: collapse;
    }

    & th, td{
        padding: 10px;
        text-align: left;
        /*background-color: rgba(0, 0, 0, 0.8);*/
    }

    & td:first-child{
        font-weight: bold;
        background-color: purple;
        width: 30%;
    }

    & body {
        background-image: url(../images/SpaceBG_PixelArt-Pack_FreeSample/1-Red_320x180.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        color: ivory;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        padding: 0 160px 50px 160px;
    }

    /* Classes */
    & .description{
        /* background-color: rgba(0, 0, 0, 0.8); */
        border: 1px solid white;
        padding: 30px;
        margin-top: 50px;
    }

    & button{
        border-radius: 4px;
        background-color: rgb(79, 38, 85);
        color: ivory;
        text-align: center;
        padding: 10px 24px;
        border: 2px solid rgb(79, 38, 85);
    }

    & button:hover{
        background-color: rgb(0, 0, 0);
        border-color: rgb(0, 0, 0);
    }

    /* Images */

    /* Credit: NASA, Hubble*/
    & .jupiter-main-image{
        background-image: url(../images/OVERSTELLAR/SolarSystem_Jupiter_90px_16x15.gif);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }

    & .sun-main-image{
        background-image: url(../images/OVERSTELLAR/SolarSystem_Sun_140px_10x6.gif);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }

}