
/*font by google*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html, body {
    background-image: url(../images/SpaceBG_PixelArt-Pack_FreeSample/1-Purple_320x180.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 100vw;
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}
input[type="radio"], .Quiz label { cursor: pointer; }


a:hover {
    cursor:pointer;
}

table{
    table-layout: fixed
}

.character-image{
    height: 150px; 
    object-fit: contain; 
    margin: 5px;
}

.character-pfp{
    height: 20px;
    width: 20px;
    object-fit: cover; 
}