html, body {
    background-image: url(../images/SpaceBG_PixelArt-Pack_FreeSample/1-Purple_320x180.png);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}